@charset "UTF-8";

/*Estilo para as demais midias*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    img#print{display: block;}
    img#cel{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }

    img#tablet{
        display: block;
    }

    img#cel{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url('../imagens/back-pc.jpg');
    }

    img#pc{
        display: block;
    }

    img#cel{display: none;}
}

@media screen and (min-width: 1200px){
    body{
        background-image: url('../imagens/back-tv.jpg');
    }

    img#tv{
        display: block;
    }

    img#cel{display: none;}
}