@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #42EAF5,#42F5C5);
}

main{
    background-color: white;
    width: 800px;
    padding: 4%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #38c6d0c4;
}

h1{
    font-family: 'Playpen Sans', cursive,Arial,Helvetica,sans-serif;
    color: #42B0F5;
    text-align: center;
    text-shadow: 1px 1px 2px #368fc6;
    font-size: 2.5em;
}

h2{
    color:#36c56d;
}

p{
    text-align: justify;
}

.destaque{
    font-size: 1em;
    text-decoration: underline;
    color: #42B0F5;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color:  #42B0F5;
    font-weight: bold;
}

.link:hover{
    text-decoration: underline;
    color:  #338abfd3
}